.welcome {
  background-color: #17466e;
  color: #fdfdfd;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
  font-size: 70px;
  z-index: 3;
  position: relative;
}

.banner {
  background-color: #17466e;
  color: #ffffff;
  padding: 20px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  z-index: 3;
  position: relative;
}

nav ul {
  list-style-type: none;
  padding: 1px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 3;
  position: absolute;
  margin-left: 190px;
}

nav li {
  display: block;
}

nav li a {
  text-decoration: none;
  padding: 20px 100px;
  color: #ffffff;
  background-color: #17466e;
  border-radius: 4px;
}

nav li a:hover {
  color: #17466e;
  background-color: var(--hover-color, #9e9e9e);
  transition: background-color 0.5s ease;
}

.welcomeh2 {
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 275px;
  margin-top: 60px;
  flex-direction: row;
}

.overview {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 275px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #17466e;
  max-width: 800px;
  width: 100%;
  padding: 50px;
  border-radius: 2px;
  background-color: #f0f0f0;
  flex-direction: row;
}

.overview2 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 275px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #17466e;
  max-width: 800px;
  width: 100%;
  margin-right: auto;
  padding: 50px;
  border-radius: 2px;
  background-color: #f0f0f0;
  margin-top: auto;
}

#overview3 /* my ID selector*/ {
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 224px;
  box-sizing: border-box;
  border-width: 1px;
  border-color: #17466e;
  max-width: 1500px;
  width: 100%;
  margin-right: auto;
  padding: 50px;
  border-radius: 2px;
  background-color: #ffffff;
  flex-direction: row;
}

.main {
  display: flex;
  align-items: flex-start;
  gap: 0px;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar {
  position: fixed;
  top: 250px;
  right: 10px;
  height: 100vh;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 2px 0 0 2px;
  width: 200px;
  overflow-y: auto;
  box-shadow: -2px 0 8px rgba(255, 255, 255, 0.05);
  opacity: 0.7;
  transition: ease-in 0.5s;
  transition-delay: 4s;
  z-index: 2;
}

.footer {
  background-color: #17466e;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
  border-radius: 2px;
  margin-bottom: 0px;
  font-size: 25px;
  z-index: 3;
}

.form-group {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 275px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #17466e;
  max-width: 800px;
  width: 100%;
  padding: 50px;
  border-radius: 2px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  margin-top: 20px;
}

.contactp {
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 275px;
  box-sizing: border-box;
  border-width: 1px;
  border-color: #17466e;
  max-width: 800px;
  width: 100%;
  padding: 1px;
  border-radius: 2px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

table, /* my element selector*/
   th,
   td {
  border: 2px solid gray;
  border-collapse: collapse;
  padding: 40px;
  background-color: #ebebeb;
  margin-left: 274px;
}

.caption /* my class selector*/ {
  font-size: 30px;
  margin-right: 730px;
}

.overview-container {
  max-width: 1100px;
  margin-left: 275px;
  margin-bottom: 20px;
  overflow: auto;
}

.overview-float-img {
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
  border-radius: 20px;
  max-width: 400px;
  max-height: 500px;
}
